.design {
  background-image: url(../../assets/clientbg.jpg);
  .design::before {
  }

  .design__header {
    @extend %title;
    &::after {
      @extend %separator;
      top: 7.5rem;
    }
  }
  .desin-overlay {
    background-color: $layer1Color;
    width: 100%;
    height: 100%;
  }
  @include breakpoint-min($sm) {
    .designe-img {
      bottom: -6rem;
      right: -2rem;
    }
  }
  @include breakpoint-min($lg) {
    .designe-img {
      bottom: -6rem;
      right: 6rem;
    }
  }
  @include breakpoint-min($xl) {
    .designe-img {
      bottom: -6rem;
      right: 17rem;
    }
  }
}
