@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
// vendors
$vendors: "-moz-", "-webkit-", "-o-", "-ms-", "";
//fonts
$Kaushan: "Kaushan Script", cursive;
$montserrat: "Montserrat", sans-serif;
// colors
$gradient1: #db7475e6;
$gradient2: #e4cd7de6;
$bgColor: #3bd3ba;
$grayBg: rgb(248, 248, 248);
$shadowColor: #95e1d3;
$paragraphColor: #a3988f;
$layer1Color: rgba(237, 237, 237, 0.8);
$white: #fff;
$black: #000;
//images
$bg1: url

$bg2: url(../assets/mapbg.jpg);
//breakpoint
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
